.nav{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    margin:7px;
}
.link{
    text-decoration: none;
    line-height: 0;
    padding:1rem;
    &:hover{
        background-color: rgba($color: lightgrey, $alpha: 0.2)
    }
}
.navlink-active{
    font-weight: bold;
}
